.row-white {
    background-color: #ffffff;
}
.border-none{
    border-style: none;
}
.pudding-20px{
    padding: 20px;
}
.thumbnail-pictures{
    height:50px;
}
.textbox
{
    height:200px;
    font-size:14pt;
}
